<!DOCTYPE html>
<html>
<head>
	<title>Edit post</title>
</head>
<body>
	<div class="container">
		<h1>Edit article</h1>
		 <%= render 'form' %> 
		<%= link_to 'Back', articles_path %>
	</div>
</body>
</html>