<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
</head>
<body>
	<div class="container">
		<div class="center jumbotron">
			<center>
				<h1>Welcome to My Blog</h1>
				<%= link_to 'Enter here', 'articles',
			class: 'btn btn-lg btn-primary'%>
			</center>
		</div>
		<%= link_to 'Login', {controller: :users, action: :login },
			:method => :post ,
			class: 'btn btn-lg btn-primary'%>
		<%= link_to 'Sign Up', {controller: :users, action: :signup },
			:method => :post ,
			class: 'btn btn-lg btn-primary'%>

	</div>
</body>
</html>
